<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Material Design Bootstrap</title>
<!-- Font Awesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="css/mdb.min.css" rel="stylesheet">
<!-- Your custom styles (optional) -->
<link href="css/style.min.css" rel="stylesheet">
<style type="text/css">
html, body, header, .carousel {
	height: 60vh;
}

@media ( max-width : 740px) {
	html, body, header, .carousel {
		height: 100vh;
	}
}

@media ( min-width : 800px) and (max-width: 850px) {
	html, body, header, .carousel {
		height: 100vh;
	}
}
</style>
</head>

<body>

	<!-- Navbar -->
	<nav th:replace="includes/header :: header1_part"></nav>
	<!-- Navbar -->

	<!--Carousel Wrapper-->
	<div th:replace="includes/header2 :: header2_part"></div>
	<!--/.Carousel Wrapper-->

	<!--Main layout-->
	<main>
		<div class="container">

			<!--Navbar-->
			<nav th:replace="includes/navbar :: navbar_part"></nav>
			<!--/.Navbar-->

			<!--Section: Products v.3-->
			<section class="text-center mb-4">

				<!--Grid row-->
				<div class="row wow fadeIn">

					<div th:each="p : ${produits}">
						<!--Grid column-->
						<div class="col-lg-3 col-md-6 mb-4">

							<!--Card-->

							<!--Card image-->
							<div class="view overlay">
								<img th:src="@{*{p.url}}" class="card-img-top" alt="">
							</div>
							<!--Card image-->

							<!--Card content-->
							<div class="card-body text-center">
								<!--Category & Title-->
								<h5>
									<a th:href="@{/produits/detail/{id}(id=${p.id})}"
										class="grey-text">[[${p.libelle}]]</a>
								</h5>
								<h5>
									<strong> <a th:href="@{/profil}" class="font-weight-bold blue-text">[[${p.prestataire}]]</a>
									</strong>
								</h5>
							</div>
							<!--Card content-->

						</div>
						<!--Card-->
					<!--Grid column-->
					</div>
				</div>
				<!--Grid row-->
			</section>
		<!--Section: Products v.3-->

		<!--Pagination-->
		<nav class="d-flex justify-content-center wow fadeIn">
			<ul class="pagination pg-blue">

				<!--Arrow left-->
				<li class="page-item disabled"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
				</a></li>

				<li class="page-item active"><a class="page-link" href="#">1
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">5</a></li>

				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
						class="sr-only">Next</span>
				</a></li>
			</ul>
		</nav>
		<!--Pagination-->

		</div>
	</main>
	<!--Main layout-->

	<!--Footer-->
	<footer th:replace="includes/footer :: footer_part"></footer>
	<!--/.Footer-->

	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<!-- Initializations -->
	<script type="text/javascript">
		// Animations initialization
		new WOW().init();
	</script>
</body>

</html>
